{% extends "base.html" %}
{% block title %} Ajouter un Material{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau Material
			</p>
			<form method="POST">
				<div class="form-group">
					<label for= "value_material">
						Nom Material
					</label>
					<input type ="text" class="form-control" name="name_material_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le material
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
